@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 236, 81;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}


.blob1 {
  position: fixed;
  width: 400px;
  height: 400px;
  color:aliceblue;
  right: -360px;
  top: -250px;
  z-index: -10;
  filter:blur(10px)
}

.blob2 {
  position: fixed;
  width: 350px;
  height: 350px;
  left: -150px;
  top: 65vh;
  z-index: -10;
  filter:blur(10px)
}

.blob3 {
  position: fixed;
  width: 350px;
  height: 350px;
  right: -360px;
  top: 75%;
  z-index: -10;
  filter:blur(10px)
}

.blob4 {
  position: fixed;
  width: 350px;
  height: 350px;
  left: -150px;
  top: 0%;
  z-index: -10;
  filter:blur(10px)
}

.blob5 {
  position: fixed;
  width: 350px;
  height: 350px;
  left: 40%;
  top: 30%;
  z-index: -10;
  filter:blur(10px)
}

a {
  color: rgb(23, 95, 212);
  text-decoration: underline;
}


